.color_button {
	/* background-color: red; */
	padding: 1% 4%;

	border: none;
	border-radius: 1rem;
	font-size: 1.1rem;
	font-weight: bold;

	color: #fffcf2;
	transition: 0.2s ease-in-out;
}

.color_button:hover {
	transform: scale(1.1);
	cursor: pointer;
}

.color_button a {
	text-decoration: none;
	color: #fffcf2;
}

@media (min-width: 320px) and (max-width: 425px) {
	.color_button {
		padding: 7% 9%;
		margin: 3% 1%;
		font-size: 1rem;
	}
}
